{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Muliika</title>

    

    <!-- CSS
    ================================================== -->

    <!-- favicons
    ================================================== -->

</head>


<body>

    <h1>Coming Soon</h1>


</body>
</html>